includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - app
        - config
    tmpDir: vendor/phpstan/cache
    parallel:
        maximumNumberOfProcesses: 2
