APP_NAME="Orbit E2E"
APP_VERSION=0.1.0
APP_ENV=local
APP_KEY=
APP_DEBUG=true

# Defaults to $HOME/.orbit when unset.
ORBIT_HOME=

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

FILESYSTEM_DISK=local
CACHE_STORE=file
