{
  "openapi": "3.1.0",
  "info": {
    "title": "Orbit Gateway API",
    "version": "v1",
    "description": "The HTTP API of the active Orbit Gateway. The CLI and the PHP SDK send every fleet command through these endpoints over WireGuard. See [Using the API](/api/overview) for transport, authentication, envelopes, and errors."
  },
  "servers": [
    {
      "url": "https://gateway.orbit",
      "description": "The active Gateway on the private WireGuard network, resolved by Orbit private DNS."
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Gateway",
      "description": "Status and trust of the active Gateway, and the releases of the Gateway itself."
    },
    {
      "name": "Nodes",
      "description": "Machines in the fleet, their roles, access grants, and storage settings."
    },
    {
      "name": "Clusters",
      "description": "Groups of Nodes with one Router and one development TLD."
    },
    {
      "name": "Firewall",
      "description": "Named UFW rules on one Node."
    },
    {
      "name": "Fleet rollout",
      "description": "The rollout of each verified Gateway release to the managed Nodes, and its catch-up."
    },
    {
      "name": "Tools",
      "description": "Packages that Orbit installs on a Node through a Tool Manager."
    },
    {
      "name": "Metrics",
      "description": "The Prometheus and Grafana role and its exporters."
    },
    {
      "name": "GitHub App",
      "description": "The Gateway's own read-only GitHub App and the accounts that installed it."
    },
    {
      "name": "Analytics",
      "description": "The analytics role, its Plausible version, and the Stats API key the Gateway uses to read visits."
    },
    {
      "name": "Projects",
      "description": "Repository records with one type, default branch, and web root each."
    },
    {
      "name": "Instances",
      "description": "Development checkouts and production releases of a Project on one Node."
    },
    {
      "name": "Environment",
      "description": "Stored Instance environment configuration and its .env projection."
    },
    {
      "name": "Routes",
      "description": "Domains that reach an Instance."
    },
    {
      "name": "Database connections",
      "description": "The registry of mysql, pgsql, and sqlite connections."
    },
    {
      "name": "Processes",
      "description": "systemd services and Docker containers owned by an Instance, a Node, or a Project definition."
    },
    {
      "name": "Schedules",
      "description": "Recurring commands run by native systemd timers."
    },
    {
      "name": "Annotations",
      "description": "Instance annotations, T3 delivery, and replayable status events."
    },
    {
      "name": "Tasks",
      "description": "Commander feature groups and ordered subtasks."
    },
    {
      "name": "Extensions",
      "description": "Gateway-owned extension switches."
    },
    {
      "name": "Doctor",
      "description": "Verify-only drift checks across the fleet."
    },
    {
      "name": "Activities",
      "description": "The Gateway log of authorized commands."
    },
    {
      "name": "proxycli",
      "description": "CLIProxyAPI quota snapshots, provider pools, and account controls."
    },
    {
      "name": "Workspaces",
      "description": "Git worktrees owned by legacy Instances."
    },
    {
      "name": "Realtime",
      "description": "The record-change event feed broadcast to Reverb, its channel authorization, and Reverb connection discovery."
    },
    {
      "name": "Node callbacks",
      "description": "Endpoints that managed Nodes and Caddy call; operators do not call them."
    }
  ],
  "paths": {
    "/api/v1/activities": {
      "get": {
        "operationId": "activity-list",
        "summary": "List Activities",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1
            }
          },
          {
            "name": "request_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "before_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "running",
                "succeeded",
                "failed"
              ]
            }
          },
          {
            "name": "command",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255,
              "minLength": 1
            }
          },
          {
            "name": "caller_node_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "target_node_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "description": "List recent gateway command activity.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Activity"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/activities?limit=25&request_id=9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81&before_id=480&status=failed&command=instance:deploy&caller_node_id=2&target_node_id=4\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\Activities\\ListActivitiesRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new ListActivitiesRequest())->dto();\n"
          }
        ]
      }
    },
    "/api/v1/activities/{activity}": {
      "get": {
        "operationId": "activity-show",
        "summary": "Show an Activity",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "activity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Activity ID."
          }
        ],
        "description": "Show one gateway command activity attempt.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Activity"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/activities/481\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\Activities\\ShowActivityRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new ShowActivityRequest(activityId: 481))->dto();\n"
          }
        ]
      }
    },
    "/api/v1/agent/broadcasting/auth": {
      "post": {
        "operationId": "agent-realtime-auth",
        "summary": "Authorize the agent's presence channel",
        "tags": [
          "Node callbacks"
        ],
        "description": "The `orbit-agent` on a managed Node calls this endpoint to join its own presence channels. The Gateway signs member `agent.{id}` on `presence-node.{id}` or `presence-node-logs.{id}` only for a request from that Node's WireGuard address that carries the Node's agent secret. The response carries the Pusher `auth` and `channel_data` values.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "socket_id": {
                    "type": "string",
                    "pattern": "^\\d+\\.\\d+$"
                  },
                  "channel_name": {
                    "type": "string"
                  },
                  "version": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "pattern": "^[0-9A-Za-z.+-]{1,32}$"
                  }
                },
                "required": [
                  "socket_id",
                  "channel_name"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The Pusher channel signature.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "auth": {
                      "type": "string",
                      "description": "Pusher channel signature."
                    },
                    "channel_data": {
                      "type": "string",
                      "description": "JSON-encoded presence member data."
                    }
                  },
                  "required": [
                    "auth",
                    "channel_data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Realtime is not configured (`realtime.not_configured`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The request carries no agent secret (`agent.secret_required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`), its agent secret does not match (`agent.secret_invalid`), its Node is not eligible for an agent (`agent.node_ineligible`), or it asked for another Node's channel (`agent.channel_forbidden`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The JSON body is not an object, has duplicate or unknown members, or fails validation (`validation.failed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X POST \"https://gateway.orbit/api/v1/agent/broadcasting/auth\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"socket_id\": \"example\", \"channel_name\": \"example\", \"version\": \"example\"}'\n"
          }
        ]
      }
    },
    "/api/v1/agent/log-streams": {
      "get": {
        "operationId": "agent-log-streams",
        "summary": "List the live log streams the agent reads",
        "tags": [
          "Node callbacks"
        ],
        "description": "The `orbit-agent` on a managed Node calls this endpoint to learn which logs to read for live log streams: when it joins its log channel, after each `log-streams.changed` event, and every 15 seconds while it reads a stream. The Gateway identifies the Node from the WireGuard address and the agent's bearer secret, and lists at most 16 open streams whose source is on that Node, each with its ID, `lines`, and one `laravel`, `journal`, or `docker` source that the Gateway resolved from its own records.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "pattern": "^[0-9a-f]{32}$",
                            "description": "The stream ID."
                          },
                          "lines": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 1000,
                            "description": "The number of earlier lines to send first."
                          },
                          "source": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "laravel",
                                  "journal",
                                  "docker"
                                ],
                                "description": "The source type."
                              },
                              "path": {
                                "type": "string",
                                "description": "`laravel`: the Instance checkout path."
                              },
                              "unit": {
                                "type": "string",
                                "description": "`journal`: the unit `orbit-process-{id}-{name}.service`."
                              },
                              "container": {
                                "type": "string",
                                "description": "`docker`: the container `orbit-process-{id}-{name}`."
                              },
                              "process_id": {
                                "type": "integer",
                                "description": "`docker`: the Process ID in the container name and label."
                              }
                            },
                            "required": [
                              "type"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "lines",
                          "source"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The request carries no agent secret (`agent.secret_required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`), its agent secret does not match (`agent.secret_invalid`), or its Node is not eligible for an agent (`agent.node_ineligible`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/agent/log-streams\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          }
        ]
      }
    },
    "/api/v1/agent/realtime": {
      "get": {
        "operationId": "agent-realtime",
        "summary": "Show the agent's Reverb connection",
        "tags": [
          "Node callbacks"
        ],
        "description": "The `orbit-agent` on a managed Node calls this endpoint to find its Reverb connection. The Gateway identifies the Node from the WireGuard address and the agent's bearer secret, and returns the Reverb URL, serving address, and app key, the Node's `presence-node.{id}` channel, and the agent's `agent.{id}` member ID. Connection values are null when broadcasting is not configured.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Reverb WebSocket URL."
                        },
                        "address": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Address that serves Reverb on port 443."
                        },
                        "key": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Reverb app key."
                        },
                        "channel": {
                          "type": "string",
                          "description": "The Node's presence channel, `presence-node.{id}`."
                        },
                        "log_channel": {
                          "type": "string",
                          "description": "The Node's log channel, `presence-node-logs.{id}`, for live log streams."
                        },
                        "member": {
                          "type": "string",
                          "description": "The agent's member ID, `agent.{id}`."
                        }
                      },
                      "required": [
                        "url",
                        "address",
                        "key",
                        "channel",
                        "log_channel",
                        "member"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The request carries no agent secret (`agent.secret_required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`), its agent secret does not match (`agent.secret_invalid`), or its Node is not eligible for an agent (`agent.node_ineligible`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/agent/realtime\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          }
        ]
      }
    },
    "/api/v1/agent/workspaces": {
      "get": {
        "operationId": "agent-workspaces",
        "summary": "List the task checkouts the agent watches",
        "tags": [
          "Node callbacks"
        ],
        "description": "The `orbit-agent` on a managed Node calls this endpoint every 60 seconds to learn which task checkouts to watch. The Gateway identifies the Node from the WireGuard address and the agent's bearer secret, and lists the Instances on that Node that hold the workspace of an unfinished task group, at most 64, with the checkout path, the Project's default branch as `base`, and the Instance's starting commit as `start`. The list is empty while the tasks extension is disabled.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "instance_id": {
                            "type": "integer",
                            "description": "The Instance that holds the task workspace."
                          },
                          "path": {
                            "type": "string",
                            "description": "The absolute checkout path on the Node."
                          },
                          "base": {
                            "type": "string",
                            "description": "The Project's default branch, which the diff counts are read against."
                          },
                          "start": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "The Instance's starting commit, or null."
                          }
                        },
                        "required": [
                          "instance_id",
                          "path",
                          "base",
                          "start"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The request carries no agent secret (`agent.secret_required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`), its agent secret does not match (`agent.secret_invalid`), or its Node is not eligible for an agent (`agent.node_ineligible`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/agent/workspaces\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          }
        ]
      }
    },
    "/api/v1/analytics/credentials": {
      "delete": {
        "operationId": "analytics-credentials-unset",
        "summary": "Clear the analytics Stats API key",
        "tags": [
          "Analytics"
        ],
        "description": "Clears the stored Plausible Stats API key.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "configured": {
                          "type": "boolean",
                          "description": "True while a Stats API key is stored. The key itself is never returned."
                        },
                        "driver": {
                          "type": "string",
                          "enum": [
                            "plausible_ce"
                          ]
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X DELETE \"https://gateway.orbit/api/v1/analytics/credentials\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\Analytics\\UnsetAnalyticsCredentialsRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new UnsetAnalyticsCredentialsRequest())->dto();\n"
          }
        ]
      },
      "get": {
        "operationId": "analytics-credentials",
        "summary": "Show analytics Stats API credentials",
        "tags": [
          "Analytics"
        ],
        "description": "Returns whether a Plausible Stats API key is stored. The key itself is never returned.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "configured": {
                          "type": "boolean",
                          "description": "True while a Stats API key is stored. The key itself is never returned."
                        },
                        "driver": {
                          "type": "string",
                          "enum": [
                            "plausible_ce"
                          ]
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/analytics/credentials\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\Analytics\\ShowAnalyticsCredentialsRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new ShowAnalyticsCredentialsRequest())->dto();\n"
          }
        ]
      },
      "put": {
        "operationId": "analytics-credentials-set",
        "summary": "Store the analytics Stats API key",
        "tags": [
          "Analytics"
        ],
        "description": "Stores a Plausible Stats API key as a protected Gateway setting. The key is never returned.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "api_key": {
                    "type": "string",
                    "maxLength": 512,
                    "minLength": 8
                  }
                },
                "required": [
                  "api_key"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "configured": {
                          "type": "boolean",
                          "description": "True while a Stats API key is stored. The key itself is never returned."
                        },
                        "driver": {
                          "type": "string",
                          "enum": [
                            "plausible_ce"
                          ]
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The JSON body is not an object, has duplicate or unknown members, or fails validation (`validation.failed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X PUT \"https://gateway.orbit/api/v1/analytics/credentials\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"api_key\": \"example\"}'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\Analytics\\SetAnalyticsCredentialsRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new SetAnalyticsCredentialsRequest(apiKey: 'value'))->dto();\n"
          }
        ]
      }
    },
    "/api/v1/analytics/update": {
      "post": {
        "operationId": "analytics-update",
        "summary": "Pin the Plausible version",
        "tags": [
          "Analytics"
        ],
        "description": "Pin another Plausible version for the analytics role.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "string",
                    "pattern": "^\\d+\\.\\d+\\.\\d+$(?![\\s\\S])",
                    "description": "Plausible Community Edition version, for example 3.2.1"
                  }
                },
                "required": [
                  "version"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "node_id": {
                          "type": "integer"
                        },
                        "node_name": {
                          "type": "string"
                        },
                        "version": {
                          "type": "string",
                          "description": "The Plausible Community Edition version the role now runs, as three numbers."
                        },
                        "previous_version": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The JSON body is not an object, has duplicate or unknown members, or fails validation (`validation.failed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X POST \"https://gateway.orbit/api/v1/analytics/update\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"version\": \"example\"}'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\Analytics\\UpdateAnalyticsRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new UpdateAnalyticsRequest(version: 'value'))->dto();\n"
          }
        ]
      }
    },
    "/api/v1/broadcasting/auth": {
      "get": {
        "operationId": "realtime-auth",
        "summary": "Authorize the orbit broadcast channel",
        "tags": [
          "Realtime"
        ],
        "parameters": [
          {
            "name": "socket_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d+\\.\\d+$"
            }
          },
          {
            "name": "channel_name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "A Pusher-protocol channel authorization endpoint. A client requests access to the private `orbit` channel with its `socket_id` and `channel_name`; any active WireGuard peer Node is authorized.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/broadcasting/auth?socket_id=1&channel_name=1\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          }
        ]
      }
    },
    "/api/v1/ca/root": {
      "get": {
        "operationId": "gateway-trust",
        "summary": "Fetch the root CA certificate",
        "tags": [
          "Gateway"
        ],
        "description": "Returns the PEM-encoded Orbit root certificate and its SHA-256 fingerprint so a client can pin it before it trusts the Gateway. This endpoint needs no WireGuard identity.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "root_ca": {
                          "type": "string",
                          "description": "PEM-encoded root certificate."
                        },
                        "sha256": {
                          "type": "string",
                          "description": "SHA-256 fingerprint of the certificate."
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "The Gateway root CA is unavailable (`ca.unavailable`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/ca/root\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\Gateway\\FetchRootCaCertificateRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new FetchRootCaCertificateRequest())->dto();\n"
          }
        ]
      }
    },
    "/api/v1/clusters": {
      "get": {
        "operationId": "cluster-list",
        "summary": "List Clusters",
        "tags": [
          "Clusters"
        ],
        "description": "List Clusters.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Cluster"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/clusters\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\Clusters\\ListClustersRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new ListClustersRequest())->dto();\n"
          }
        ]
      },
      "post": {
        "operationId": "cluster-create",
        "summary": "Create a Cluster",
        "tags": [
          "Clusters"
        ],
        "description": "Create a Cluster.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Unique Cluster name"
                  },
                  "tld": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "pattern": "^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$(?![\\s\\S])",
                    "maxLength": 63,
                    "description": "Optional development TLD"
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Cluster"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "200": {
            "description": "The request succeeded; an exact retry returned the existing record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Cluster"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The JSON body is not an object, has duplicate or unknown members, or fails validation (`validation.failed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X POST \"https://gateway.orbit/api/v1/clusters\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"name\": \"lab\", \"tld\": \"test\"}'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\Clusters\\CreateClusterRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new CreateClusterRequest(name: 'lab'))->dto();\n"
          }
        ]
      }
    },
    "/api/v1/clusters/{cluster}": {
      "delete": {
        "operationId": "cluster-destroy",
        "summary": "Remove a Cluster",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "name": "cluster",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Cluster ID."
          }
        ],
        "description": "Remove an empty Cluster.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Cluster"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X DELETE \"https://gateway.orbit/api/v1/clusters/3\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\Clusters\\DestroyClusterRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new DestroyClusterRequest(clusterId: 3))->dto();\n"
          }
        ]
      },
      "get": {
        "operationId": "cluster-show",
        "summary": "Show a Cluster",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "name": "cluster",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Cluster ID."
          }
        ],
        "description": "Show a Cluster.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Cluster"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/clusters/3\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\Clusters\\ShowClusterRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new ShowClusterRequest(clusterId: 3))->dto();\n"
          }
        ]
      },
      "patch": {
        "operationId": "cluster-update",
        "summary": "Update a Cluster",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "name": "cluster",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Cluster ID."
          }
        ],
        "description": "Update a Cluster.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "New Cluster name"
                  },
                  "tld": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "pattern": "^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$(?![\\s\\S])",
                    "maxLength": 63,
                    "description": "New development TLD; empty unsets it"
                  },
                  "state": {
                    "type": "string",
                    "enum": [
                      "inactive",
                      "active"
                    ],
                    "description": "New state: inactive or active"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Cluster"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The JSON body is not an object, has duplicate or unknown members, or fails validation (`validation.failed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X PATCH \"https://gateway.orbit/api/v1/clusters/3\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"name\": \"lab\", \"tld\": \"test\", \"state\": \"active\"}'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\Clusters\\UpdateClusterRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new UpdateClusterRequest(clusterId: 3))->dto();\n"
          }
        ]
      }
    },
    "/api/v1/clusters/{cluster}/nodes/{node}": {
      "delete": {
        "operationId": "cluster-node-remove",
        "summary": "Detach a Node from a Cluster",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "name": "cluster",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Cluster ID."
          },
          {
            "name": "node",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Node ID."
          }
        ],
        "description": "Detach a Node from a Cluster.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "force": {
                    "type": "boolean",
                    "description": "Skip the destructive confirmation prompt"
                  }
                },
                "required": [
                  "force"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Cluster"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The JSON body is not an object, has duplicate or unknown members, or fails validation (`validation.failed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X DELETE \"https://gateway.orbit/api/v1/clusters/3/nodes/7\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"force\": true}'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\Clusters\\RemoveClusterNodeRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new RemoveClusterNodeRequest(clusterId: 3, nodeId: 7, force: true))->dto();\n"
          }
        ]
      },
      "put": {
        "operationId": "cluster-node-add",
        "summary": "Attach a Node to a Cluster",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "name": "cluster",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Cluster ID."
          },
          {
            "name": "node",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Node ID."
          }
        ],
        "description": "Attach a Node to a Cluster.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Cluster"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X PUT \"https://gateway.orbit/api/v1/clusters/3/nodes/7\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\Clusters\\AddClusterNodeRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new AddClusterNodeRequest(clusterId: 3, nodeId: 7))->dto();\n"
          }
        ]
      }
    },
    "/api/v1/clusters/{cluster}/router": {
      "delete": {
        "operationId": "cluster-router-unset",
        "summary": "Clear the Cluster Router",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "name": "cluster",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Cluster ID."
          }
        ],
        "description": "Clear the Router from an inactive Cluster.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "force": {
                    "type": "boolean",
                    "description": "Skip the destructive confirmation prompt"
                  }
                },
                "required": [
                  "force"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Cluster"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The JSON body is not an object, has duplicate or unknown members, or fails validation (`validation.failed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X DELETE \"https://gateway.orbit/api/v1/clusters/3/router\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"force\": true}'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\Clusters\\UnsetClusterRouterRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new UnsetClusterRouterRequest(clusterId: 3, force: true))->dto();\n"
          }
        ]
      }
    },
    "/api/v1/clusters/{cluster}/router/{node}": {
      "put": {
        "operationId": "cluster-router-set",
        "summary": "Set the Cluster Router",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "name": "cluster",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Cluster ID."
          },
          {
            "name": "node",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Node ID."
          }
        ],
        "description": "Set or replace a Cluster Router.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Cluster"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X PUT \"https://gateway.orbit/api/v1/clusters/3/router/7\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\Clusters\\SetClusterRouterRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new SetClusterRouterRequest(clusterId: 3, nodeId: 7))->dto();\n"
          }
        ]
      }
    },
    "/api/v1/compute/github-token": {
      "post": {
        "operationId": "compute-github-token",
        "summary": "Renew sandbox repository access",
        "tags": [
          "Node callbacks"
        ],
        "description": "Internal UpCloud VM credential renewal. Requires the enrolled active WireGuard peer, binary access to its own Node, and its private Pi bearer token. The Gateway derives the repository from the active task workspace; request fields cannot select another repository. Issues a fresh one-hour GitHub App token with contents, pull requests, and workflows write plus Actions read. The response is not cached or recorded in command activity. Stopped, destroying, detached, and inactive task ownership is refused.",
        "responses": {
          "200": {
            "description": "Fresh access scoped to the Project repository.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "const": "no-store, private"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "Temporary installation token. Never persist or log it."
                    }
                  },
                  "required": [
                    "token"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Temporary repository access could not be issued (`compute.github_unavailable`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X POST \"https://gateway.orbit/api/v1/compute/github-token\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          }
        ]
      }
    },
    "/api/v1/database-connections": {
      "get": {
        "operationId": "database-list",
        "summary": "List Database connections",
        "tags": [
          "Database connections"
        ],
        "description": "List registered Database connections.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DatabaseConnection"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/database-connections\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\DatabaseConnections\\ListDatabaseConnectionsRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new ListDatabaseConnectionsRequest())->dto();\n"
          }
        ]
      },
      "post": {
        "operationId": "database-create",
        "summary": "Create a Database connection",
        "tags": [
          "Database connections"
        ],
        "description": "Registers an existing database, or with `server` creates a MySQL database and user on that Database server. `server` excludes every connection field; `instance_id` makes that Instance the owner, creates the test database, and attaches the connection under prefix DB. The response never contains a password.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "slug": {
                        "type": "string",
                        "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$(?![\\s\\S])",
                        "maxLength": 63
                      },
                      "driver": {
                        "type": "string",
                        "enum": [
                          "mysql",
                          "pgsql",
                          "sqlite",
                          "redis"
                        ]
                      },
                      "node_id": {
                        "type": [
                          "integer",
                          "null"
                        ],
                        "minimum": 1
                      },
                      "host": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "pattern": "^[A-Za-z0-9](?:[A-Za-z0-9.-]{0,253}[A-Za-z0-9])?$(?![\\s\\S])",
                        "maxLength": 255
                      },
                      "port": {
                        "type": [
                          "integer",
                          "null"
                        ],
                        "maximum": 65535,
                        "minimum": 1
                      },
                      "database": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "pattern": "^(?:[A-Za-z_][A-Za-z0-9_$]{0,63}|[0-9]{1,3})$(?![\\s\\S])",
                        "maxLength": 64
                      },
                      "path": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "pattern": "^\\/[^\\x00]{1,1023}$(?![\\s\\S])",
                        "maxLength": 1024
                      },
                      "username": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "pattern": "^[\\x21-\\x7E]{1,128}$(?![\\s\\S])",
                        "maxLength": 128
                      },
                      "password": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "maxLength": 1024
                      }
                    },
                    "required": [
                      "slug",
                      "driver"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "slug": {
                        "type": "string",
                        "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$(?![\\s\\S])",
                        "maxLength": 63
                      },
                      "server": {
                        "type": "string",
                        "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$(?![\\s\\S])",
                        "maxLength": 63
                      },
                      "instance_id": {
                        "type": "integer",
                        "minimum": 1
                      }
                    },
                    "required": [
                      "slug",
                      "server"
                    ],
                    "additionalProperties": false
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DatabaseConnection"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "200": {
            "description": "The request succeeded; an exact retry returned the existing record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DatabaseConnection"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The JSON body is not an object, has duplicate or unknown members, or fails validation (`validation.failed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X POST \"https://gateway.orbit/api/v1/database-connections\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81' \\\n  -H 'Content-Type: application/json' \\\n  -d '\"example\"'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\DatabaseConnections\\CreateDatabaseConnectionRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new CreateDatabaseConnectionRequest(slug: 'acme'))->dto();\n"
          }
        ]
      }
    },
    "/api/v1/database-connections/{database_connection}": {
      "delete": {
        "operationId": "database-destroy",
        "summary": "Remove a Database connection",
        "tags": [
          "Database connections"
        ],
        "parameters": [
          {
            "name": "database_connection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"
            },
            "description": "Database connection slug."
          }
        ],
        "description": "Destroy a Database connection.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DatabaseConnection"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X DELETE \"https://gateway.orbit/api/v1/database-connections/app\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\DatabaseConnections\\DestroyDatabaseConnectionRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new DestroyDatabaseConnectionRequest(slug: 'acme'))->dto();\n"
          }
        ]
      },
      "get": {
        "operationId": "database-show",
        "summary": "Show a Database connection",
        "tags": [
          "Database connections"
        ],
        "parameters": [
          {
            "name": "database_connection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"
            },
            "description": "Database connection slug."
          }
        ],
        "description": "Show one Database connection.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DatabaseConnection"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/database-connections/app\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\DatabaseConnections\\ShowDatabaseConnectionRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new ShowDatabaseConnectionRequest(slug: 'acme'))->dto();\n"
          }
        ]
      },
      "patch": {
        "operationId": "database-update",
        "summary": "Update a Database connection",
        "tags": [
          "Database connections"
        ],
        "parameters": [
          {
            "name": "database_connection",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"
            },
            "description": "Database connection slug."
          }
        ],
        "description": "Update a Database connection.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "driver": {
                    "type": "string",
                    "enum": [
                      "mysql",
                      "pgsql",
                      "sqlite",
                      "redis"
                    ],
                    "description": "Driver: mysql, pgsql, sqlite, or redis"
                  },
                  "node_id": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "minimum": 1
                  },
                  "host": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "pattern": "^[A-Za-z0-9](?:[A-Za-z0-9.-]{0,253}[A-Za-z0-9])?$(?![\\s\\S])",
                    "maxLength": 255,
                    "description": "Hostname or IP for mysql and pgsql"
                  },
                  "port": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "maximum": 65535,
                    "minimum": 1,
                    "description": "TCP port for mysql and pgsql"
                  },
                  "database": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "pattern": "^(?:[A-Za-z_][A-Za-z0-9_$]{0,63}|[0-9]{1,3})$(?![\\s\\S])",
                    "maxLength": 64,
                    "description": "Database name for mysql and pgsql"
                  },
                  "path": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "pattern": "^\\/[^\\x00]{1,1023}$(?![\\s\\S])",
                    "maxLength": 1024,
                    "description": "Unix absolute sqlite path"
                  },
                  "username": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "pattern": "^[\\x21-\\x7E]{1,128}$(?![\\s\\S])",
                    "maxLength": 128,
                    "description": "Username"
                  },
                  "password": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 1024,
                    "description": "Password"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
[...]
