{
  "openapi": "3.1.0",
  "info": {
    "title": "Orbit Gateway API",
    "version": "v1",
    "description": "The HTTP API of the active Orbit Gateway. The CLI and the PHP SDK send every fleet command through these endpoints over WireGuard. See [Using the API](/api/overview) for transport, authentication, envelopes, and errors."
  },
  "servers": [
    {
      "url": "https://gateway.orbit",
      "description": "The active Gateway on the private WireGuard network, resolved by Orbit private DNS."
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Gateway",
      "description": "Status and trust of the active Gateway."
    },
    {
      "name": "Nodes",
      "description": "Machines in the fleet, their roles, access grants, and storage settings."
    },
    {
      "name": "Clusters",
      "description": "Groups of Nodes with one Router and one development TLD."
    },
    {
      "name": "Firewall",
      "description": "Named UFW rules on one Node."
    },
    {
      "name": "Tools",
      "description": "Packages that Orbit installs on a Node through a Tool Manager."
    },
    {
      "name": "Metrics",
      "description": "The Prometheus and Grafana role and its exporters."
    },
    {
      "name": "GitHub App",
      "description": "The Gateway's own read-only GitHub App and the accounts that installed it."
    },
    {
      "name": "Analytics",
      "description": "The analytics role, its Plausible version, and the Stats API key the Gateway uses to read visits."
    },
    {
      "name": "Apps",
      "description": "Compatibility surface for Project records at /api/v1/apps."
    },
    {
      "name": "Projects",
      "description": "Repository records with one type, default branch, and web root each."
    },
    {
      "name": "Instances",
      "description": "Development checkouts and production releases of a Project on one Node."
    },
    {
      "name": "Environment",
      "description": "Stored Instance environment configuration and its .env projection."
    },
    {
      "name": "Routes",
      "description": "Domains that reach an Instance."
    },
    {
      "name": "Database connections",
      "description": "The registry of mysql, pgsql, and sqlite connections."
    },
    {
      "name": "Processes",
      "description": "systemd services and Docker containers owned by an Instance, a Node, or a Project definition."
    },
    {
      "name": "Schedules",
      "description": "Recurring commands run by native systemd timers."
    },
    {
      "name": "Annotations",
      "description": "Instance annotations, T3 delivery, and replayable status events."
    },
    {
      "name": "Tasks",
      "description": "Enable-gated Commander feature groups and ordered subtasks."
    },
    {
      "name": "Doctor",
      "description": "Verify-only drift checks across the fleet."
    },
    {
      "name": "Activities",
      "description": "The Gateway log of authorized commands."
    },
    {
      "name": "proxycli",
      "description": "CLIProxyAPI quota snapshots, provider pools, and account controls."
    },
    {
      "name": "Workspaces",
      "description": "Git worktrees owned by legacy Instances."
    },
    {
      "name": "Realtime",
      "description": "The record-change event feed broadcast to Reverb, its channel authorization, and Reverb connection discovery."
    },
    {
      "name": "Node callbacks",
      "description": "Endpoints that managed Nodes and Caddy call; operators do not call them."
    }
  ],
  "paths": {
    "/api/v1/activities": {
      "get": {
        "operationId": "activity-list",
        "summary": "List Activities",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1
            }
          },
          {
            "name": "request_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "description": "List recent gateway command activity.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Activity"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/activities?limit=25&request_id=1\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\Activities\\ListActivitiesRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new ListActivitiesRequest())->dto();\n"
          }
        ]
      }
    },
    "/api/v1/activities/{activity}": {
      "get": {
        "operationId": "activity-show",
        "summary": "Show an Activity",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "activity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Activity ID."
          }
        ],
        "description": "Show one gateway command activity attempt.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Activity"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/activities/481\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\Activities\\ShowActivityRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new ShowActivityRequest(activityId: 481))->dto();\n"
          }
        ]
      }
    },
    "/api/v1/agent/broadcasting/auth": {
      "post": {
        "operationId": "agent-realtime-auth",
        "summary": "Authorize the agent's presence channel",
        "tags": [
          "Node callbacks"
        ],
        "description": "The `orbit-agent` on a managed Node calls this endpoint to join its own presence channel. The Gateway signs member `agent.{id}` on `presence-node.{id}` only for a request from that Node's WireGuard address. The response carries the Pusher `auth` and `channel_data` values.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "socket_id": {
                    "type": "string",
                    "pattern": "^\\d+\\.\\d+$"
                  },
                  "channel_name": {
                    "type": "string"
                  },
                  "version": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "pattern": "^[0-9A-Za-z.+-]{1,32}$"
                  }
                },
                "required": [
                  "socket_id",
                  "channel_name"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The Pusher channel signature.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "auth": {
                      "type": "string",
                      "description": "Pusher channel signature."
                    },
                    "channel_data": {
                      "type": "string",
                      "description": "JSON-encoded presence member data."
                    }
                  },
                  "required": [
                    "auth",
                    "channel_data"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Realtime is not configured (`realtime.not_configured`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`), its Node is not eligible for an agent (`agent.node_ineligible`), or it asked for another Node's channel (`agent.channel_forbidden`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The JSON body is not an object, has duplicate or unknown members, or fails validation (`validation.failed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X POST \"https://gateway.orbit/api/v1/agent/broadcasting/auth\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"socket_id\": \"example\", \"channel_name\": \"example\", \"version\": \"example\"}'\n"
          }
        ]
      }
    },
    "/api/v1/agent/realtime": {
      "get": {
        "operationId": "agent-realtime",
        "summary": "Show the agent's Reverb connection",
        "tags": [
          "Node callbacks"
        ],
        "description": "The `orbit-agent` on a managed Node calls this endpoint to find its Reverb connection. The Gateway identifies the Node from the WireGuard address and returns the Reverb URL, serving address, and app key, the Node's `presence-node.{id}` channel, and the agent's `agent.{id}` member ID. Connection values are null when broadcasting is not configured.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Reverb WebSocket URL."
                        },
                        "address": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Address that serves Reverb on port 443."
                        },
                        "key": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Reverb app key."
                        },
                        "channel": {
                          "type": "string",
                          "description": "The Node's presence channel, `presence-node.{id}`."
                        },
                        "member": {
                          "type": "string",
                          "description": "The agent's member ID, `agent.{id}`."
                        }
                      },
                      "required": [
                        "url",
                        "address",
                        "key",
                        "channel",
                        "member"
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or its Node is not eligible for an agent (`agent.node_ineligible`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/agent/realtime\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          }
        ]
      }
    },
    "/api/v1/agent/workspaces": {
      "get": {
        "operationId": "agent-workspaces",
        "summary": "List the task checkouts the agent watches",
        "tags": [
          "Node callbacks"
        ],
        "description": "The `orbit-agent` on a managed Node calls this endpoint every 60 seconds to learn which task checkouts to watch. The Gateway identifies the Node from the WireGuard address and lists the Instances on that Node that hold the workspace of an unfinished task group, at most 64, with the checkout path, the Project's default branch as `base`, and the Instance's starting commit as `start`. The list is empty while the tasks extension is disabled.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "instance_id": {
                            "type": "integer",
                            "description": "The Instance that holds the task workspace."
                          },
                          "path": {
                            "type": "string",
                            "description": "The absolute checkout path on the Node."
                          },
                          "base": {
                            "type": "string",
                            "description": "The Project's default branch, which the diff counts are read against."
                          },
                          "start": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "The Instance's starting commit, or null."
                          }
                        },
                        "required": [
                          "instance_id",
                          "path",
                          "base",
                          "start"
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or its Node is not eligible for an agent (`agent.node_ineligible`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/agent/workspaces\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          }
        ]
      }
    },
    "/api/v1/analytics/credentials": {
      "delete": {
        "operationId": "analytics-credentials-unset",
        "summary": "Clear the analytics Stats API key",
        "tags": [
          "Analytics"
        ],
        "description": "Clears the stored Plausible Stats API key.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "configured": {
                          "type": "boolean",
                          "description": "True while a Stats API key is stored. The key itself is never returned."
                        },
                        "driver": {
                          "type": "string",
                          "enum": [
                            "plausible_ce"
                          ]
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X DELETE \"https://gateway.orbit/api/v1/analytics/credentials\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\Analytics\\UnsetAnalyticsCredentialsRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new UnsetAnalyticsCredentialsRequest())->dto();\n"
          }
        ]
      },
      "get": {
        "operationId": "analytics-credentials",
        "summary": "Show analytics Stats API credentials",
        "tags": [
          "Analytics"
        ],
        "description": "Returns whether a Plausible Stats API key is stored. The key itself is never returned.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "configured": {
                          "type": "boolean",
                          "description": "True while a Stats API key is stored. The key itself is never returned."
                        },
                        "driver": {
                          "type": "string",
                          "enum": [
                            "plausible_ce"
                          ]
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/analytics/credentials\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\Analytics\\ShowAnalyticsCredentialsRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new ShowAnalyticsCredentialsRequest())->dto();\n"
          }
        ]
      },
      "put": {
        "operationId": "analytics-credentials-set",
        "summary": "Store the analytics Stats API key",
        "tags": [
          "Analytics"
        ],
        "description": "Stores a Plausible Stats API key as a protected Gateway setting. The key is never returned.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "api_key": {
                    "type": "string",
                    "maxLength": 512,
                    "minLength": 8
                  }
                },
                "required": [
                  "api_key"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "configured": {
                          "type": "boolean",
                          "description": "True while a Stats API key is stored. The key itself is never returned."
                        },
                        "driver": {
                          "type": "string",
                          "enum": [
                            "plausible_ce"
                          ]
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The JSON body is not an object, has duplicate or unknown members, or fails validation (`validation.failed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X PUT \"https://gateway.orbit/api/v1/analytics/credentials\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"api_key\": \"example\"}'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\Analytics\\SetAnalyticsCredentialsRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new SetAnalyticsCredentialsRequest(apiKey: 'value'))->dto();\n"
          }
        ]
      }
    },
    "/api/v1/analytics/update": {
      "post": {
        "operationId": "analytics-update",
        "summary": "Pin the Plausible version",
        "tags": [
          "Analytics"
        ],
        "description": "Pin another Plausible version for the analytics role.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "string",
                    "pattern": "^\\d+\\.\\d+\\.\\d+$",
                    "description": "Display this application version"
                  }
                },
                "required": [
                  "version"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "node_id": {
                          "type": "integer"
                        },
                        "node_name": {
                          "type": "string"
                        },
                        "version": {
                          "type": "string",
                          "description": "The Plausible Community Edition version the role now runs, as three numbers."
                        },
                        "previous_version": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The JSON body is not an object, has duplicate or unknown members, or fails validation (`validation.failed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X POST \"https://gateway.orbit/api/v1/analytics/update\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"version\": \"example\"}'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\Analytics\\UpdateAnalyticsRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new UpdateAnalyticsRequest(version: 'value'))->dto();\n"
          }
        ]
      }
    },
    "/api/v1/apps": {
      "get": {
        "operationId": "app-list",
        "summary": "List Apps (Projects)",
        "tags": [
          "Apps"
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/App"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/apps\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          }
        ]
      },
      "post": {
        "operationId": "app-create",
        "summary": "Create an App (Project)",
        "tags": [
          "Apps"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "code": {
                    "type": "string",
                    "pattern": "^[A-Z]{3}$"
                  },
                  "slug": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9_-]+$",
                    "maxLength": 63
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "monorepo",
                      "laravel-app",
                      "laravel-package",
                      "node-package"
                    ]
                  },
                  "repository_url": {
                    "type": "string",
                    "maxLength": 2048
                  },
                  "default_branch": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "root": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "defaults": {
                    "type": [
                      "array",
                      "null"
                    ]
                  }
                },
                "required": [
                  "slug",
                  "repository_url",
                  "root"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/App"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "200": {
            "description": "The request succeeded; an exact retry returned the existing record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/App"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The JSON body is not an object, has duplicate or unknown members, or fails validation (`validation.failed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X POST \"https://gateway.orbit/api/v1/apps\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"slug\": \"acme\", \"repository_url\": \"https://github.com/acme/site.git\", \"root\": \"public\"}'\n"
          }
        ]
      }
    },
    "/api/v1/apps/{app}": {
      "delete": {
        "operationId": "app-destroy",
        "summary": "Remove an App (Project)",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Project ID."
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/App"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X DELETE \"https://gateway.orbit/api/v1/apps/4\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          }
        ]
      },
      "get": {
        "operationId": "app-show",
        "summary": "Show an App (Project)",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Project ID."
          }
        ],
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/App"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "excluded_nodes": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/DevelopmentNodeExclusion"
                              }
                            }
                          }
                        }
                      ]
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/apps/4\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          }
        ]
      },
      "patch": {
        "operationId": "app-update",
        "summary": "Update an App (Project)",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Project ID."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "pattern": "^[A-Z]{3}$"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "monorepo",
                      "laravel-app",
                      "laravel-package",
                      "node-package"
                    ]
                  },
                  "slug": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9_-]+$",
                    "maxLength": 63
                  },
                  "repository_url": {
                    "type": "string",
                    "maxLength": 2048
                  },
                  "default_branch": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "root": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "task_baseline_check": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 4096
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/App"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The JSON body is not an object, has duplicate or unknown members, or fails validation (`validation.failed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X PATCH \"https://gateway.orbit/api/v1/apps/4\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81' \\\n  -H 'Content-Type: application/json' \\\n  -d '{}'\n"
          }
        ]
      }
    },
    "/api/v1/apps/{app}/process-definitions": {
      "get": {
        "operationId": "app-process-list-definition",
        "summary": "List process definitions",
        "tags": [
          "Processes"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Project ID."
          }
        ],
        "description": "Project-owned definitions carry the runtime specification that production preparation copies into a new Instance. Changing a definition changes Project configuration only.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AppRuntimeDefinition"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/apps/4/process-definitions\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          }
        ]
      },
      "post": {
        "operationId": "app-process-create-definition",
        "summary": "Create a process definition",
        "tags": [
          "Processes"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Project ID."
          }
        ],
        "description": "Project-owned definitions carry the runtime specification that production preparation copies into a new Instance. Changing a definition changes Project configuration only.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "pattern": "^[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$",
                    "maxLength": 63,
                    "description": "Process name"
                  },
                  "environments": {
                    "type": "array",
                    "maxItems": 2,
                    "minItems": 1,
                    "items": {
                      "type": "string",
                      "enum": [
                        "development",
                        "production"
                      ]
                    }
                  },
                  "spec": {
                    "type": "object",
                    "properties": {
                      "runtime": {
                        "type": "string",
                        "enum": [
                          "systemd",
                          "docker"
                        ]
                      },
                      "command": {
                        "type": "array",
                        "maxItems": 64,
                        "minItems": 1,
                        "items": {
                          "type": "string",
                          "maxLength": 4096
                        }
                      },
                      "image": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "pattern": "^[A-Za-z0-9][A-Za-z0-9._\\/:@-]*$",
                        "maxLength": 255,
                        "description": "Conditionally required."
                      },
                      "working_directory": {
                        "type": "string",
                        "pattern": "^\\/(?!.*(?:^|\\/)\\.\\.(?:\\/|$))[^\\x00\\r\\n]*$",
                        "maxLength": 4096
                      },
                      "environment": {
                        "type": "array",
                        "maxItems": 100,
                        "items": {
                          "type": "string",
                          "maxLength": 4096
                        }
                      },
                      "ports": {
                        "type": "array",
                        "maxItems": 100,
                        "items": {
                          "type": "string",
                          "pattern": "^(?:(?:\\d{1,3}\\.){3}\\d{1,3}:)?\\d{1,5}:\\d{1,5}(?:\\/(?:tcp|udp))?$"
                        }
                      },
                      "volumes": {
                        "type": "array",
                        "maxItems": 100,
                        "items": {
                          "type": "object",
                          "properties": {
                            "source": {
                              "type": "string",
                              "pattern": "^(?:\\/[A-Za-z0-9._\\/ -]+|[A-Za-z0-9][A-Za-z0-9_.-]*)$",
                              "maxLength": 4096
                            },
                            "target": {
                              "type": "string",
                              "pattern": "^\\/[A-Za-z0-9._\\/ -]*$",
                              "maxLength": 4096
                            },
                            "read_only": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "source",
                            "target"
                          ]
                        }
                      },
                      "restart_policy": {
                        "type": "string",
                        "enum": [
                          "never",
                          "on-failure",
                          "always",
                          "unless-stopped"
                        ]
                      },
                      "keep_alive": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "runtime",
                      "command"
                    ]
                  }
                },
                "required": [
                  "name",
                  "environments",
                  "spec"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AppRuntimeDefinition"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "200": {
            "description": "The request succeeded; an exact retry returned the existing record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AppRuntimeDefinition"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The JSON body is not an object, has duplicate or unknown members, or fails validation (`validation.failed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X POST \"https://gateway.orbit/api/v1/apps/4/process-definitions\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"name\": \"vite\", \"environments\": [\"production\"], \"spec\": {\"runtime\": \"systemd\", \"command\": [\"/usr/bin/php\", \"artisan\", \"queue:work\"]}}'\n"
          }
        ]
      }
    },
    "/api/v1/apps/{app}/process-definitions/{process_definition}": {
      "delete": {
        "operationId": "app-process-destroy-definition",
        "summary": "Remove a process definition",
        "tags": [
          "Processes"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Project ID."
          },
          {
            "name": "process_definition",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Process definition name, unique within the Project."
          }
        ],
        "description": "Project-owned definitions carry the runtime specification that production preparation copies into a new Instance. Changing a definition changes Project configuration only.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AppRuntimeDefinition"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X DELETE \"https://gateway.orbit/api/v1/apps/4/process-definitions/queue\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          }
        ]
      },
      "get": {
        "operationId": "app-process-show-definition",
        "summary": "Show a process definition",
        "tags": [
          "Processes"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Project ID."
          },
          {
            "name": "process_definition",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Process definition name, unique within the Project."
          }
        ],
        "description": "Project-owned definitions carry the runtime specification that production preparation copies into a new Instance. Changing a definition changes Project configuration only.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AppRuntimeDefinition"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/apps/4/process-definitions/queue\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          }
        ]
      },
      "put": {
        "operationId": "app-process-update-definition",
        "summary": "Replace a process definition",
        "tags": [
          "Processes"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Project ID."
          },
          {
            "name": "process_definition",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Process definition name, unique within the Project."
          }
        ],
        "description": "Project-owned definitions carry the runtime specification that production preparation copies into a new Instance. Changing a definition changes Project configuration only.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "pattern": "^[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$",
                    "maxLength": 63,
                    "description": "Process definition name"
                  },
                  "environments": {
                    "type": "array",
                    "maxItems": 2,
                    "minItems": 1,
                    "items": {
                      "type": "string",
                      "enum": [
                        "development",
                        "production"
                      ]
                    }
                  },
                  "spec": {
                    "type": "object",
                    "properties": {
                      "runtime": {
                        "type": "string",
                        "enum": [
                          "systemd",
                          "docker"
                        ]
                      },
                      "command": {
                        "type": "array",
                        "maxItems": 64,
                        "minItems": 1,
                        "items": {
                          "type": "string",
                          "maxLength": 4096
                        }
                      },
                      "image": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "pattern": "^[A-Za-z0-9][A-Za-z0-9._\\/:@-]*$",
                        "maxLength": 255,
                        "description": "Conditionally required."
                      },
                      "working_directory": {
                        "type": "string",
                        "pattern": "^\\/(?!.*(?:^|\\/)\\.\\.(?:\\/|$))[^\\x00\\r\\n]*$",
                        "maxLength": 4096
                      },
                      "environment": {
                        "type": "array",
                        "maxItems": 100,
                        "items": {
                          "type": "string",
                          "maxLength": 4096
                        }
                      },
                      "ports": {
                        "type": "array",
                        "maxItems": 100,
                        "items": {
                          "type": "string",
                          "pattern": "^(?:(?:\\d{1,3}\\.){3}\\d{1,3}:)?\\d{1,5}:\\d{1,5}(?:\\/(?:tcp|udp))?$"
                        }
                      },
                      "volumes": {
                        "type": "array",
                        "maxItems": 100,
                        "items": {
                          "type": "object",
                          "properties": {
                            "source": {
                              "type": "string",
                              "pattern": "^(?:\\/[A-Za-z0-9._\\/ -]+|[A-Za-z0-9][A-Za-z0-9_.-]*)$",
                              "maxLength": 4096
                            },
                            "target": {
                              "type": "string",
                              "pattern": "^\\/[A-Za-z0-9._\\/ -]*$",
                              "maxLength": 4096
                            },
                            "read_only": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "source",
                            "target"
                          ]
                        }
                      },
                      "restart_policy": {
                        "type": "string",
                        "enum": [
                          "never",
                          "on-failure",
                          "always",
                          "unless-stopped"
                        ]
                      },
                      "keep_alive": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "runtime",
                      "command"
                    ]
                  }
                },
                "required": [
                  "name",
                  "environments",
                  "spec"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AppRuntimeDefinition"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The JSON body is not an object, has duplicate or unknown members, or fails validation (`validation.failed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X PUT \"https://gateway.orbit/api/v1/apps/4/process-definitions/queue\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"name\": \"vite\", \"environments\": [\"production\"], \"spec\": {\"runtime\": \"systemd\", \"command\": [\"/usr/bin/php\", \"artisan\", \"queue:work\"]}}'\n"
          }
        ]
      }
    },
    "/api/v1/apps/{app}/schedule-definitions": {
      "get": {
        "operationId": "app-schedule-list-definition",
        "summary": "List Schedule definitions",
        "tags": [
          "Schedules"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Project ID."
          }
        ],
        "description": "Project-owned definitions carry the runtime specification that production preparation copies into a new Instance. Changing a definition changes Project configuration only.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AppRuntimeDefinition"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/apps/4/schedule-definitions\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          }
        ]
      },
      "post": {
        "operationId": "app-schedule-create-definition",
        "summary": "Create a Schedule definition",
        "tags": [
          "Schedules"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Project ID."
          }
        ],
        "description": "Project-owned definitions carry the runtime specification that production preparation copies into a new Instance. Changing a definition changes Project configuration only.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "pattern": "^[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$",
                    "maxLength": 63,
                    "description": "Schedule name"
                  },
                  "environments": {
                    "type": "array",
                    "maxItems": 2,
                    "minItems": 1,
                    "items": {
                      "type": "string",
                      "enum": [
                        "development",
                        "production"
                      ]
                    }
                  },
                  "spec": {
                    "type": "object",
                    "properties": {
                      "command": {
                        "type": "string",
                        "maxLength": 4096
                      },
                      "calendar": {
                        "type": "string",
                        "pattern": "^[\\x20-\\x7E]+$",
                        "maxLength": 255
                      },
                      "timeout_seconds": {
                        "type": "integer",
                        "maximum": 86400,
                        "minimum": 1
                      }
                    },
                    "required": [
                      "command",
                      "calendar",
                      "timeout_seconds"
                    ]
                  }
                },
                "required": [
                  "name",
                  "environments",
                  "spec"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AppRuntimeDefinition"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "200": {
            "description": "The request succeeded; an exact retry returned the existing record.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AppRuntimeDefinition"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The JSON body is not an object, has duplicate or unknown members, or fails validation (`validation.failed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X POST \"https://gateway.orbit/api/v1/apps/4/schedule-definitions\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"name\": \"daily-report\", \"environments\": [\"production\"], \"spec\": {\"command\": [\"/usr/bin/php\", \"artisan\", \"queue:work\"], \"calendar\": \"daily\", \"timeout_seconds\": 3600}}'\n"
          }
        ]
      }
    },
    "/api/v1/apps/{app}/schedule-definitions/{schedule_definition}": {
      "delete": {
        "operationId": "app-schedule-destroy-definition",
        "summary": "Remove a Schedule definition",
        "tags": [
          "Schedules"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Project ID."
          },
          {
            "name": "schedule_definition",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Schedule definition name, unique within the Project."
          }
        ],
        "description": "Project-owned definitions carry the runtime specification that production preparation copies into a new Instance. Changing a definition changes Project configuration only.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AppRuntimeDefinition"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X DELETE \"https://gateway.orbit/api/v1/apps/4/schedule-definitions/hourly-report\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          }
        ]
      },
      "get": {
        "operationId": "app-schedule-show-definition",
        "summary": "Show a Schedule definition",
        "tags": [
          "Schedules"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Project ID."
          },
          {
            "name": "schedule_definition",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Schedule definition name, unique within the Project."
          }
        ],
        "description": "Project-owned definitions carry the runtime specification that production preparation copies into a new Instance. Changing a definition changes Project configuration only.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AppRuntimeDefinition"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/apps/4/schedule-definitions/hourly-report\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          }
        ]
      },
      "put": {
        "operationId": "app-schedule-update-definition",
        "summary": "Replace a Schedule definition",
        "tags": [
          "Schedules"
        ],
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Numeric Project ID."
          },
          {
            "name": "schedule_definition",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Schedule definition name, unique within the Project."
          }
        ],
        "description": "Project-owned definitions carry the runtime specification that production preparation copies into a new Instance. Changing a definition changes Project configuration only.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "pattern": "^[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$",
                    "maxLength": 63,
                    "description": "Schedule definition name"
                  },
                  "environments": {
                    "type": "array",
                    "maxItems": 2,
                    "minItems": 1,
                    "items": {
                      "type": "string",
                      "enum": [
                        "development",
                        "production"
                      ]
                    }
                  },
                  "spec": {
                    "type": "object",
                    "properties": {
                      "command": {
                        "type": "string",
                        "maxLength": 4096
                      },
                      "calendar": {
                        "type": "string",
                        "pattern": "^[\\x20-\\x7E]+$",
                        "maxLength": 255
                      },
                      "timeout_seconds": {
                        "type": "integer",
                        "maximum": 86400,
                        "minimum": 1
                      }
                    },
                    "required": [
                      "command",
                      "calendar",
                      "timeout_seconds"
                    ]
                  }
                },
                "required": [
                  "name",
                  "environments",
                  "spec"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AppRuntimeDefinition"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No record matches the path parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "A guard refused the change and the Gateway changed nothing; `error.code` names the guard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "The JSON body is not an object, has duplicate or unknown members, or fails validation (`validation.failed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS -X PUT \"https://gateway.orbit/api/v1/apps/4/schedule-definitions/hourly-report\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"name\": \"daily-report\", \"environments\": [\"production\"], \"spec\": {\"command\": [\"/usr/bin/php\", \"artisan\", \"queue:work\"], \"calendar\": \"daily\", \"timeout_seconds\": 3600}}'\n"
          }
        ]
      }
    },
    "/api/v1/broadcasting/auth": {
      "get": {
        "operationId": "realtime-auth",
        "summary": "Authorize the orbit broadcast channel",
        "tags": [
          "Realtime"
        ],
        "parameters": [
          {
            "name": "socket_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d+\\.\\d+$"
            }
          },
          {
            "name": "channel_name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "A Pusher-protocol channel authorization endpoint. A client requests access to the private `orbit` channel with its `socket_id` and `channel_name`; any active WireGuard peer Node is authorized.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The caller is not an active WireGuard peer (`peer.identity_unknown`) or lacks Node access to the target (`node_access.required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/broadcasting/auth?socket_id=1&channel_name=1\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          }
        ]
      }
    },
    "/api/v1/ca/root": {
      "get": {
        "operationId": "gateway-trust",
        "summary": "Fetch the root CA certificate",
        "tags": [
          "Gateway"
        ],
        "description": "Returns the PEM-encoded Orbit root certificate and its SHA-256 fingerprint so a client can pin it before it trusts the Gateway. This endpoint needs no WireGuard identity.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "root_ca": {
                          "type": "string",
                          "description": "PEM-encoded root certificate."
                        },
                        "sha256": {
                          "type": "string",
                          "description": "SHA-256 fingerprint of the certificate."
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "The Gateway root CA is unavailable (`ca.unavailable`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "curl",
            "source": "curl -sS \"https://gateway.orbit/api/v1/ca/root\" \\\n  --cacert /path/to/orbit-root-ca.pem \\\n  -H 'Accept: application/json' \\\n  -H 'X-Orbit-Request-Id: 9d6b1e5c-4a3f-4a1b-9f0e-6d2c3f5a7b81'\n"
          },
          {
            "lang": "php",
            "label": "PHP SDK",
            "source": "<?php\n\nuse Orbit\\Sdk\\GatewayConnector;\nuse Orbit\\Sdk\\Requests\\Gateway\\FetchRootCaCertificateRequest;\n\n$connector = new GatewayConnector(\n    baseUrl: 'https://gateway.orbit',\n    caPemPath: '/path/to/orbit-root-ca.pem',\n);\n\n$response = $connector->send(new FetchRootCaCertificateRequest())->dto();\n"
          }
        ]
      }
    },
    "/api/v1/clusters": {
      "get": {
        "operationId": "cluster-list",
        "summary": "List Clusters",
        "tags": [
          "Clusters"
        ],
        "description": "List Clusters.",
        "responses": {
          "200": {
            "description": "The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
[...]
